/* Default font size for larger screens */
body {
    font-size: 16px;
}

/* Increase font size for screens smaller than 768px wide */
@media (max-width: 767px) {
    body {
        font-size: 18px;
    }
}

.today-tasks {
    color: red;
}


.note {
    margin-left: 20px; /* Adjust as needed */
    display: block;
}


/* Light theme styles */
.bg-light .form-control {
    background-color: #FFF; /* White background */
    color: #333; /* Dark text */
}

/* Dark theme styles */
.bg-dark .form-control {
    background-color: #333; /* Dark background */
    color: #FFF; /* White text */
}


[data-theme="light"] {
    background-color: #fff;
    color: #333;
    /* Add other light theme styles here */
}

[data-theme="dark"] {
    background-color: #333;
    color: #fff;
    /* Add other dark theme styles here */
}

