/* Default font size for larger screens */
body {
    font-size: 16px;
}

/* Increase font size for screens smaller than 768px wide */
@media (max-width: 767px) {
    body {
        font-size: 18px;
    }
}


#sortedTasks {
    height: 300px;
    overflow-y: scroll; /* always show vertical scrollbar on View content*/
}


/* #view {
    font-family: 'Courier New', Courier, monospace;
} */


.material-symbols-outlined {
    vertical-align: middle;
}

/* possible use for `View` tab display */
.custom-list {
    list-style-type: none;
    padding-left: 0;}

.category-heading {
    font-weight: bold;
    font-size: 1.2em; 
}


#taskCount {
    display: none;
}


.lighter-text {
    font-weight: 400; /* This is a regular font weight, less bold than the default Bootstrap badge text */
}

/* required to see the list in Email tab */
#email {
    opacity: 1 !important;
}


textarea {
    font-family: 'Roboto Mono', monospace;
}



.today-tasks {
    color: red;
}


.note {
    margin-left: 20px;
    /* Adjust as needed */
    display: block;
}


/* Light theme styles */
.bg-light .form-control {
    background-color: #FFF;
    /* White background */
    color: #333;
    /* Dark text */
}

/* Dark theme styles */
.bg-dark .form-control {
    background-color: #333;
    /* Dark background */
    color: #FFF;
    /* White text */
}


[data-theme="light"] {
    background-color: #fff;
    color: #333;
    /* Add other light theme styles here */
}

[data-theme="dark"] {
    background-color: #333;
    color: #fff;
    /* Add other dark theme styles here */
}