/* Default font size for larger screens */
body {
    font-size: 16px;
}

/* Increase font size for screens smaller than 768px wide */
@media (max-width: 767px) {
    body {
        font-size: 18px;
    }
}

textarea {
    font-family: 'Roboto Mono', monospace;
    /* TODO: don't use hid scro overflow: hidden; */
    /* Hide the default scrollbar */
    /* min-height: 50px; */
    /* Adjust the minimum height as needed */
    /* resize: none; */
    /* Optional: prevent manual resizing */
}


/* required to see the list in Email tab */
#email {
    opacity: 1 !important;
}


.today-tasks {
    color: red;
}


.note {
    margin-left: 20px;
    /* Adjust as needed */
    display: block;
}